/* main content area */
.main {
  width: 60%;
  padding: 50px 120px;
  display: flex;
  flex-direction: column;
}

.main a {
  color: black;
}

.main p, .main ol, .main ul {
  margin: 10px 0;
}

.heading {
  text-transform: capitalize;
}

.description {
  width: 90%;
}
.title-ref {
  text-transform: capitalize;
}

.audience-list {
  text-transform: capitalize;

  line-height: 25px;
}

.outcomes-list {
  text-transform: capitalize;

  line-height: 25px;
}

/* content */
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.video-content {
  height: 60vh;
  width: 100%;
  border-radius: 20px;
  margin: 10px 0px;
}

.content-description {
  width: 90%;
}

@media screen and (max-width: 425px) {
  .main {
    width: auto;
    padding: 0px 10px;
  }
  .snippet {
    height: 40vh;
    width: 100%;
  }

  .video-content {
    height: 50vh;
  }
  .description {
    width: 100%;
  }

  .content-description {
    width: 100%;
  }
}

/* breakpoint */
/* tablet view */
@media screen and (min-width: 426px) and (max-width: 768px) {
  .main {
    width: auto;
    padding: 30px 70px;
  }
}
