/* main content area */
.main {
  width: 60%;
  padding: 50px 120px;
  display: flex;
  flex-direction: column;
}

.main a {
  color: black;
}

.main p,
.main ol,
.main ul {
  margin: 10px 0;
}

.heading {
  text-transform: capitalize;
}

.description {
  width: 90%;
}

.audience-list {
  text-transform: capitalize;
  line-height: 25px;
}

.outcomes-list {
  text-transform: capitalize;
  line-height: 25px;
}

/* content */
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

li::marker {
  font-size: 14px;
}

/* video player portion */

.content .video {
  margin: 20px auto;
}

.content .video iframe {
  width: 560px;
  height: 315px;
  max-width: 100%;
}

@media screen and (max-width: 425px) {
  .main {
    width: auto;
    padding: 0px 10px;
  }
  .description {
    width: 100%;
  }
}

/* breakpoint */
/* tablet view */
@media screen and (min-width: 426px) and (max-width: 768px) {
  .main {
    width: auto;
    padding: 30px 70px;
  }
}
