{% extends "base.html" %} {% block css %}
<link rel="stylesheet" href="{{ URL_ROOT }}/static/css/resource.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/monokai.min.css"
/>
<link
  rel="stylesheet"
  href="https://unpkg.com/highlightjs-copy@1.0.5/dist/highlightjs-copy.min.css"
/>
{% endblock%} {% block content %}
<div class="main">
  <div class="page-route">
    <a href="{{ URL_ROOT }}">Home</a> / <a href="#">{{ resource.title }}</a>
  </div>
  <!-- <div class="intro">
        <h1 class="heading">{{ resource.title }}</h1>
        <p class="description">{{ resource.description }}</p>
    </div> -->
  <!-- {% if "target_audience" is in resource %}
    <div class="target-audience">
        <h2>Who is this for?</h2>
        <ul class="audience-list">
            {% for audience in resource.target_audience %}
            <li>{{ audience }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if "learning_outcomes" is in resource %}
    <div class="learning-outcomes">
        <h2>What you'll learn</h2>
        <ul>
            {% for learning_outcome in resource.learning_outcomes %}
            <li>{{ learning_outcome }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %} -->
  <div class="content">
    {{ resource_html|safe }}
  </div>
</div>
{% endblock %} {% block js %}
<!-- Code highlighting -->
{# https://github.com/arronhunt/highlightjs-copy #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script src="https://unpkg.com/highlightjs-copy@1.0.5/dist/highlightjs-copy.min.js"></script>
<script>
  hljs.addPlugin(new CopyButtonPlugin());
  hljs.highlightAll();
</script>
{% endblock%}
